.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.clients-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 50px;
}

.section-clients-list {
    display: flex;
    margin-right: 30px;
}

.clients-links {
    display: flex;
    border-radius: 4px;

    width: 170px;
    height: 92px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #AFB1B8;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients-item {
    margin-right: 30px;
}

.clients-icon {
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover .clients-icon,
.clients-links:focus .clients-icon {
    fill: var(--accent);
}

.clients-links:hover,
.clients-links:focus {
    border: 1px solid #2196F3;
}