.footer {
    background-color: var(--second-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content {
    display: flex;
}
.footer-content {
    align-items: baseline;
    display: flex;
}