.root {
    --primery-text-color: #212121;
    --text-color: #757575;
    --accent: #2196F3;
    --white: #FFFFFF;
    --primery-background-color: #E5E5E5;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}

